# top-most EditorConfig file
root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C# — 4 spaces
[*.cs]
indent_size = 4

# YAML, JSON etc — 2 spaces
[*.{yml,yaml,json,md}]
indent_size = 2
