GOOGLE_CLOUD_PROJECT=soteltest
GOOGLE_CLOUD_REGION=us-east1
GOOGLE_CLOUD_LOG_NAME=otlp
GCLOUD_CONFIG_DIR=# Set your gcloud cli config directory eg. in  Windows C:\Users\<user>\AppData\Roaming\gcloud

OTEL_COLLECTOR_CONFIG=collector-local.yaml

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

OTEL_SERVICE_NAME=soteltestgcp
OTEL_RESOURCE_ATTRIBUTES=service.version=1.0.0,service.namespace=demo-simpleopentelemetry,deployment.environment.name=dev,gcp.project_id=soteltest
