AWS_REGION=us-east-1
LOG_GROUP_NAME=/app/soteltestaws/dev
LOG_GROUP_STREAM=app
LOG_RETENTION_DAYS=1
METRIC_RETENTION_DAYS=1
OTEL_COLLECTOR_CONFIG=adotcollector-local-otlpexport.yml
USE_XRAY_SAMPLER=true
GOMEMLIMIT=112MiB
COLLECTOR_MEM_LIMIT_MB=140
COLLECTOR_SPIKE_LIMIT_MB=28
